/* FONTES GERAIS USADAS */
/* 
font-family: 'Lexend Deca', sans-serif;
font-family: 'Playball', cursive;
 */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    background-color: #F2F2F2;
    color: #666666;
}